<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>single-view-visit</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>
  </head>
  <body>
    <h1>Hi <%= name %>, you visited:</h1>
    <ul>
      <li><%= visit.country.name %></li>
      <li><%= visit.departure_time %></li>
      <li><%= visit.arrival_time %></li>
    </ul>
  </body>
</html>
